###############################################################################
# XWhy Configuration
###############################################################################

# OpenAI
OPENAI_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# ANTHROPIC Claude
ANTHROPIC_API_KEY=

# Z.AI
ZAI_API_KEY=

# QROK
GROQ_API_KEY=

# COHERE
COHERE_API_KEY=

# FIREWORKS AI
FIREWORKS_API_KEY=

# Grok (X AI)
GROK_API_KEY=

# OPENROUTER
OPENROUTER_API_KEY=

# BYTE DANCE
BYTEDANCE_API_KEY=

# LM STUDIO
LMSTUDIO_API_KEY=
LMSTUDIO_BASE_URL=

# Azure OpenAI
AZURE_API_KEY=
AZURE_API_VERSION="2024-02-01"
AZURE_ENDPOINT=

# AWS / Bedrock
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_SESSION_TOKEN=
AWS_REGION="us-east-1"
ANTHROPIC_AWS_WORKSPACE_ID=

# Google Cloud (Gemini & Anthropic Vertex)
GCP_PROJECT=
GCP_LOCATION="us-central1"

# Microsoft Foundry (Anthropic)
ANTHROPIC_FOUNDRY_API_KEY=
ANTHROPIC_FOUNDRY_RESOURCE=

# Hugging Face
HUGGINGFACE_TOKEN=

###############################################################################
# Cache
###############################################################################

EMBEDDING_CACHE_DIR=~/.cache/xwhy/embeddings
