###############################################################################
# XWhy Configuration
###############################################################################

# OpenAI
OPENAI_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# ANTHROPIC Claude
ANTHROPIC_API_KEY=

# Z.AI
ZAI_API_KEY=

# QROK
GROQ_API_KEY=

# COHERE
COHERE_API_KEY=

# FIREWORKS AI
FIREWORKS_API_KEY=

# Grok (X AI)
GROK_API_KEY=

# OPENROUTER
OPENROUTER_API_KEY=

# BYTE DANCE
BYTEDANCE_API_KEY=

# LM STUDIO
LMSTUDIO_API_KEY=
LMSTUDIO_BASE_URL=

# Hugging Face
HUGGINGFACE_TOKEN=

###############################################################################
# Cache
###############################################################################

EMBEDDING_CACHE_DIR=~/.cache/xwhy/embeddings
