###############################################################################
# XWhy Configuration
###############################################################################

# OpenAI
OPENAI_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# Hugging Face
HUGGINGFACE_TOKEN=

###############################################################################
# Cache
###############################################################################

EMBEDDING_CACHE_DIR=~/.cache/xwhy/embeddings
