[submodule "examples/Mapping-the-Mind-of-an-Instruction-based-Image-Editing-using-SMILE"]
	path = examples/Mapping-the-Mind-of-an-Instruction-based-Image-Editing-using-SMILE
	url = https://github.com/Sara068/Mapping-the-Mind-of-an-Instruction-based-Image-Editing-using-SMILE
