transformers~=5.0.0rc3
torch~=2.9.0
scipy~=1.16.3
gdown~=5.2.2
pillow~=12.1.1
requests~=2.33.0
numpy~=2.0.2
pandas~=2.2.2
sentence-transformers~=5.2.0
opencv-python~=4.12.0.88
scikit-learn~=1.6.1
matplotlib~=3.10.0
gensim~=4.4.0
pot~=0.9.6
python-dotenv~=1.2.2
google-genai~=1.55.0
xgboost~=3.1.2
openai~=2.11.0
tiktoken~=0.12.0
accelerate~=1.12.0
diffusers~=0.38.0
safetensors~=0.8.0rc0
torchvision~=0.24.0
plotly~=6.5.0
kaleido~=1.2.0
